pipeline/1_Extract_Email_1_1.json
{
	"name": "1_Extract_Email_1_1",
	"properties": {
		"activities": [
			{
				"name": "interacao_cliente_antigo",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "dim_quandrante_medico_gp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT DISTINCT  \n\t\n\tCRM AS CRM_UNIV\t          \n\t,NOME_MEDICO AS MEDICO_UNIV\t\n\t,ESPECIALIDADE\tAS ESPECIALIDADE_UNIV\n\t,ENDERECO\tAS LOGRADOURO_UNIV\n\t,BAIRRO\tAS BAIRRO_UNIV\n\t,CIDADE\tAS CIDADE_UNIV\n\t,CEP\tAS CEP_UNIV\n\t,ORIGEM_END\tAS ORIGEM_UNIV\n\t,UF\tAS UF_UNIV\n\t,BRICK\tAS BRICK_UNIV\n\t,TELEFONE AS TELEFONE_UNIV\nFROM \n\t\"GSK_Intelligence\".dbo.\"DIM_AUDIT_END\";",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CRM_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CRM_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MEDICO_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MEDICO_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ESPECIALIDADE_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ESPECIALIDADE_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LOGRADOURO_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LOGRADOURO_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BAIRRO_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BAIRRO_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CIDADE_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CIDADE_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CEP_UNIV",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CEP_UNIV",
									"type": "Int32",
									"physicalType": "Int32"
								}
							},
							{
								"source": {
									"name": "ORIGEM_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORIGEM_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "UF_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UF_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BRICK_UNIV",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BRICK_UNIV",
									"type": "Int32",
									"physicalType": "Int32"
								}
							},
							{
								"source": {
									"name": "TELEFONE_UNIV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TELEFONE_UNIV",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerGSK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Arquivo_Em_TxT",
						"type": "DatasetReference",
						"parameters": {
							"nome_arquivo": "dim_audit_end.txt"
						}
					}
				]
			},
			{
				"name": "Lista_Arquivos",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "interacao_cliente_antigo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filtra_Arquivos_TXT",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lista_Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lista_Arquivos').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Para_Cada_TXT",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtra_Arquivos_TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtra_Arquivos_TXT').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Transforma_TXT_to_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "teste",
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Listar_Arquivos_Txt",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Arquivos_Em_Parquet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Deletar_Arquivos_TXT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Para_Cada_TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.txt"
					}
				}
			},
			{
				"name": "dim_quandrante_medico_gp",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select distinct\n\tA.CRM as CRM_GP,\n    A.MERCADO as MERCADO_GP,\n    A.CATEGORIA as CATEGORIA_GP,\n    JORNADA as JORNADA_GP,\n    A.CLASSIFICACAO AS QUADRANTE_GP,\n    A.ROW_ID_TERRITORIO as ROW_ID_TERRITORIO_GP,\n    A.ROW_ID_CONTATO as ROW_ID_CONTATO_GP,\n    A.CICLO\nFrom\n\t\"GSK_Intelligence\".dbo.\"Dim_Quadrante_Medico_GP\" A\nWhere \n\tLEFT(CAST(A.CICLO AS VARCHAR(10)),4) IN (YEAR(GETDATE()),YEAR(GETDATE())-1) AND\n    EXISTS (SELECT B.* FROM \"GSK_Intelligence\".dbo.\"DIM_CAD_FORCA_VENDAS\" B WHERE A.CICLO = B.CICLO AND A.ROW_ID_TERRITORIO = B.ROW_ID_TERRITORIO \n            AND B.FLAG_BI IS NULL);",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CRM_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CRM_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MERCADO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MERCADO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CATEGORIA_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CATEGORIA_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JORNADA_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "JORNADA_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QUADRANTE_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QUADRANTE_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROW_ID_TERRITORIO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROW_ID_TERRITORIO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROW_ID_CONTATO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROW_ID_CONTATO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CICLO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CICLO",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerGSK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Arquivo_Em_TxT",
						"type": "DatasetReference",
						"parameters": {
							"nome_arquivo": "dim_quadrante_medico_gp.txt"
						}
					}
				]
			}
		],
		"variables": {
			"ValorVerdadeiro": {
				"type": "Array"
			},
			"ValorFalso": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Extract"
		},
		"annotations": []
	}
}