pipeline/2 - Transform  - KPI Visitacao.json
{
	"name": "2 - Transform  - KPI Visitacao",
	"properties": {
		"activities": [
			{
				"name": "Lista_Arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt_2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filtra_Arquivos_ZIP",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lista_Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lista_Arquivos').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.zip')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Para_Cada_ZIP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtra_Arquivos_ZIP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtra_Arquivos_ZIP').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Transforma_ZIP_to_TXT",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "synapse/workspaces/gsk-synapse/warehouse/dash.kpi_visitacao",
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ListarArquivosComprimidos_2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "arquivo_txt_s_comprimir",
									"type": "DatasetReference",
									"parameters": {
										"nome_arquivo": {
											"value": "@{replace(item().name,'.zip','.txt')}",
											"type": "Expression"
										},
										"pasta": "dash.kpi_visitacao"
									}
								}
							]
						},
						{
							"name": "Transforma_TXT_toParquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Transforma_ZIP_to_TXT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "synapse/workspaces/gsk-synapse/warehouse/dash.kpi_visitacao",
										"wildcardFileName": {
											"value": "@{replace(item().name,'.zip','.txt')}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Listar_Arquivos_Txt_2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Arquivos_Em_Parquet_2",
									"type": "DatasetReference",
									"parameters": {
										"nome_arquivo": {
											"value": "@{replace(item().name,'.zip','.parquet')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Deletar_Arquivos_ZIP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Para_Cada_ZIP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt_2",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.zip"
					}
				}
			},
			{
				"name": "Deletar_Arquivos_TXT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Para_Cada_ZIP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt_2",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.txt",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"ValorVerdadeiro": {
				"type": "Array"
			},
			"ValorFalso": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Transform"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-17T02:42:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}