pipeline/3 - Transform - GSO.json
{
	"name": "3 - Transform - GSO",
	"properties": {
		"activities": [
			{
				"name": "Lista_Arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt_3",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filtra_Arquivos_TXT",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lista_Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lista_Arquivos').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Para_Cada_TXT",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtra_Arquivos_TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtra_Arquivos_TXT').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Transforma_TXT_to_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "synapse/workspaces/gsk-synapse/warehouse/dash.gso",
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Listar_Arquivos_Txt_3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Arquivos_Em_Parquet_3",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Deletar_Arquivos_TXT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Para_Cada_TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Listar_Arquivos_Txt_3",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.txt"
					}
				}
			},
			{
				"name": "GSO_ETL",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Deletar_Arquivos_TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TranformRegionParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "GSO_ETL",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "TranformRegionParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lista_Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BRASIL.Area",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AREA",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Outlet State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UF",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Regiao",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REGION",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "STATE",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Fact_GSO_Aux_Regiao",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Salvar_Dim_GSO_Region_Sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Transform"
		},
		"annotations": []
	}
}