pipeline/Desabilitado - Incremental.json
{
	"name": "Desabilitado - Incremental",
	"properties": {
		"activities": [
			{
				"name": "dim_quadrante_medico_gp",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dim_quadrante_medico_gp",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None"
				}
			},
			{
				"name": "testeLookupContador",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "dim_quadrante_medico_gp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "teste",
							"wildcardFileName": "contador-00001"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "desativado_contador",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "testeLookupContador",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SET NOCOUNT ON\n\nSELECT * \nFROM\n(\n\tSELECT  distinct\n\t\tROW_NUMBER() OVER(ORDER BY (GETDATE())) as ID,\n\t\tA.CRM as CRM_GP,\n\t\tA.MERCADO as MERCADO_GP,\n\t\tA.CATEGORIA as CATEGORIA_GP,\n\t\tJORNADA as JORNADA_GP,\n\t\tA.CLASSIFICACAO AS QUADRANTE_GP,\n\t\tA.ROW_ID_TERRITORIO as ROW_ID_TERRITORIO_GP,\n\t\tA.ROW_ID_CONTATO as ROW_ID_CONTATO_GP,\n\t\tA.CICLO\n\tFrom\n\t\tDim_Quadrante_Medico_GP A\n\tWhere \n\t\tLEFT(CAST(A.CICLO AS VARCHAR(10)),4) IN (YEAR(GETDATE()),YEAR(GETDATE())-1) AND\n\t\tEXISTS (SELECT B.* FROM DIM_CAD_FORCA_VENDAS B WHERE A.CICLO = B.CICLO AND A.ROW_ID_TERRITORIO = B.ROW_ID_TERRITORIO \n\t\t\t\tAND B.FLAG_BI IS NULL) \n) dqm\nWHERE ID > '@{activity('testeLookupContador').output.firstRow.contador}'\nOPTION(FAST 10000)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ID",
									"type": "Int64",
									"physicalType": "Int64"
								}
							},
							{
								"source": {
									"name": "CRM_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CRM_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MERCADO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MERCADO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CATEGORIA_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CATEGORIA_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JORNADA_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "JORNADA_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QUADRANTE_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "QUADRANTE_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROW_ID_TERRITORIO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROW_ID_TERRITORIO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROW_ID_CONTATO_GP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ROW_ID_CONTATO_GP",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CICLO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CICLO",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerGSK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "desativado_staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "dataflow2",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Carga",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"contador": {
				"type": "Array"
			},
			"staging": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}